<div class="row">
  <%= form_for @conn, page_path(@conn, :signin), [as: :user], fn f -> %>
    <%= text_input f, :username,
        placeholder: "Name...",
        class: "form-control"%>
    <button type="submit" class="btn btn-primay">Sketch!</button>
  <% end %>
</div>
